a {
    text-decoration: none;
}
/* HEADER 1 */

.header-1 {
    position: fixed;
    left: 8px;
    right: 8px;
    margin: -8px;
    background-color: rgb(1, 49, 1);
}
.hr {
    margin-top: 0px;
}

        /*Sect 1*/

.sect1 {
    margin: 15px 50px 0px;
}

.bcontainer-1 {
    border-bottom: 2px solid #ffcc01;
    display: flex;
    justify-content: space-between;
}
.left-container-1 {
    margin-top: -7px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.site-logo {
    height: 50px;
    width: 50px;
    background-image: url(images/military.svg);
    background-position: center;
    background-size: contain;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-top: 0px;
}
.item-nav {
    display: flex;
    justify-items: center;
    justify-content: center;
}
.mid-items {
    gap: 50px;
    padding-left: 0px;
    display: flex;
    list-style: none;
    justify-content: center;
}
.mid-list {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.right-items {
    list-style: none;
    padding-top: 0px;
    gap: 22px;
    text-align: center;
    justify-content: right;
    display: flex;
    margin-top: 0px;
}
.r-i1{
    font-size: 16px;
    font-weight: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.r-i2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    border-radius: 60px;
    background-color: beige;
    border-color: black;
    border-width: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.r-i2:hover {
    background-color: rgba(235, 214, 214, 0.89);
    color: beige;
}
.r-i3 {
    height: 10px;
    width: 10px;
    background-image: url(images/home.svg);
    background-size: cover;
    background-position: center, center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.search {
    margin-top: 3px;
    height: 30px;
    width: 30px;
    background-image: url(images/search.svg);
    background-position: center, center;
    background-size: cover;
}


/* HEADER 2 */



.header-2 {
    padding-top: 66px;
    padding-bottom: 0px;
    margin: -8px;
    background-color: black;
}

      /*Sect 2*/

.sect2 {
    margin: 5px 50px 70px;
}
.first-middle {
    display: flex;
    justify-content: space-between;
}
.left-container-2 {
    display: flex;
}
.left-main-img {
    margin-top: 0px;
    height: 390px;
    width: 666px;
    background-image: url(images/soldier.jpg);
    background-size: cover;
    background-position: center, center;
}
.below-soldier {
    font-weight: lighter;
    font-size: 19px;
    padding-bottom: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 7px;
    word-spacing: 2px;
}
.parent-s-t {
    margin: 296px 25px 0px;
}
.s-t {
    display: flex;
    gap: 15px;
    margin: 0px 25px 0px;
}
.star {
    list-style: none;
    height: 80px;
    width: 110px;
    background-image: url(images/star.svg);
    background-position: center, center;
    background-size: cover;
}
.ti-img {
    padding-top: 10px;
    color: yellow;
    list-style: none;
}
.h-1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -12px;
    margin-bottom: 7px;
    letter-spacing: 4px;
    word-spacing: 1px;
}
.under-h1 {
    margin-top: -1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.rtop-container {
    margin-top: 0px;
    display: flex;
    gap: 5px;
}
.rbox1 {
    display: flex;
    margin-top: 0px;
    height: 208px;
    width: 287px;
    background-image: url(images/jet.jpg);
    background-size: cover;
    background-position: center, center;
}
.f-v {
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 15px;
    margin-top: -2px;
    letter-spacing: 4px;
}
.f-v::after {
    margin: 5px 0 0;
    background: yellow;
    content: "";
    height: 4px;
    width: 45px;
    display: block;
}
.f-p {
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 15px;
    margin-top: -2px;
    letter-spacing: 4px;
}
.f-p::after {
    margin: 5px 0 0;
    background: yellow;
    content: "";
    height: 4px;
    width: 45px;
    display: block;
}
.rbox2 {
    display: flex;
    margin-top: 0px;
    height: 208px;
    width: 288px;
    background-image: url(images/jet2.jpg);
    background-size: cover;
    background-position: center, center;
}

.rbelow-box {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}
.rb-below1 {
    width: 188px;
    height: 180px;
    background-image: url(images/insideplane.jpg);
    background-position: center, center;
    background-size: cover;
}
.rb-below2 {
    height: 180px;
    width: 194px;
    background-image: url(images/navyship.jpg);
    background-position: center, center;
    background-size: cover;
}
.rb-below3 {
    height: 180px;
    width: 194px;
    background-image: url(images/airforce1.jpg);
    background-position: center;
    background-size: cover;
}
.sp-light {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1.5px;
}
.sp-light:hover {
    color: rgba(250, 235, 215, 0.699);
}
.sp-light::after {
    margin: 5px 0 0;
    background: yellow;
    content: "";
    height: 4px;
    width: 35px;
    display: block;
    margin-left: 20px;
}

.one-ul {
    margin-top: 108px;
    color: white;
    list-style: none;
    padding-left: 20px;
    font-size: 19px;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.one-ul2 {
    margin-top: 108px;
    color: white;
    list-style: none;
    padding-left: 20px;
    font-size: 19px;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.one-ul3 {
    margin-top: 108px;
    color: white;
    list-style: none;
    padding-left: 20px;
    font-size: 19px;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* HEADER 3 */

  
.header-3 {
    margin: -8px;
}

      /*Sect 3*/

.sect3 {
    margin: 8px 50px 70px;
}
.duty {
    justify-content: left;
    display: flex;
    gap: 10px;
    margin: 0px 168px 30px;
}
.duty-star {
    margin-top: 17px;
    height: 30px;
    width: 30px;
    background-image: url(images/duty.svg);
    background-position: center, center;
    background-size: cover;
}
.under-duty-con {
    margin-top: 0px;
    margin: -10px 40px 0px;
}
.hero-tag {
    letter-spacing: 2px;
    font-weight: 800;
    margin-left: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero-tag::after {
    margin: 10px 0 0;
    background: yellow;
    content: "";
    height: 4px;
    width: 45px;
    display: block;
}
.hero {
    margin: 0px 125px 0px;
    display: flex; 
    gap: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.indi-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.indi-box1 {
    justify-content: center;
    height: 247px;
    width: 300px;
    background-size: cover;
    background-image: url(images/prudent.jpg);
}
.indi-box2 {
    justify-content: center;
    height: 247px;
    width: 300px;
    background-size: cover;
    background-image: url(images/talia.jpg);
}
.indi-box3 {
    justify-content: center;
    height: 247px;
    width: 300px;
    background-size: cover;
    background-image: url(images/bright.jpg);
}
.indi-lorem {
    font-weight: 500;
    margin: 15px 25px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero2 {
    margin: 60px 125px 0px;
    display: flex; 
    gap: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.indi-box4 {
    justify-content: center;
    height: 247px;
    width: 300px;
    background-position: center;
    background-size: cover;
    background-image: url(images/panza2.jpg);
}
.indi-box5 {
    background-position: center;
    justify-content: center;
    height: 247px;
    width: 300px;
    background-size: cover;
    background-image: url(images/airf2.jpg);
}
.indi-box6 {
    background-position: center;
    justify-content: center;
    height: 247px;
    width: 300px;
    background-size: cover;
    background-image: url(images/ship.jpg);
}


/* HEADER 4 */

.header-4 {
    margin: -8px;
    background-color: rgba(0, 100, 0, 0.89);
}
.sect4 {
    margin: 0px 0px 0px;
}
.footer-list-container {
    margin: 0px 60px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 10px;
}
.f-list {
    display: flex;
    gap: 2px;
}
.f-contact {
    height: 31px;
    width: 27px;
    background-image: url(images/whatsapp.svg);
    background-position: center, center;
    background-size: cover;
}
.f-gmail {
    height: 27px;
    width: 27px;
    background-image: url(images/gmail.svg);
    background-position: center, center;
    background-size: cover;
    
}
.f-location {
    height: 24px;
    width: 27px;
    background-image: url(images/location.svg);
    background-position: center, center;
    background-size: cover;
}
.f-span1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 6px;
    font-weight: 600;
}
.f-span2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 4px;
    font-weight: 600;
}
.f-span3 {  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 3px;
    font-weight: 600;
}


.floor {
    display: flex;
    flex-direction: row;
    gap: 250px;
    justify-content: center;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.884);
}
.floor-text {
    padding-right: 115px;
    margin-left: 370px;
    word-spacing: 1px;
    letter-spacing: 5px;
    font-weight: 900;
    text-align: center;
    justify-items: center;
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(214, 184, 13);
    margin-top: 7px;
    margin-bottom: 0px;
}
.floor-text:hover {
    font-size: 21px;
    color: black;
}
.zeb {
    border-radius: 15px;
    height: 30px;
    width: 30px;
    background-image: url(images/zebralogo.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 0px;
}
.ali {
    margin-top: 5px;
    justify-content: center;
    align-self: center;
}















